* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --second: #436372;
    --grey-main: #7b7b7b;
    --grey-light : #edf1f4;
    --bg: #fef7f0;
    --bg-dark: #fcd7b6;
    --title: #1f2044;
    --sans: 'DM Sans';
    --bg-btn: #a3bbc8;
}

ul, ol[class] {
    list-style: none;
}
a[class] {
    text-decoration: none;
}

@import 'base/*.scss';
@import 'blocks/*.scss';
  