.footer-top {
    padding: 80px 0 76px;
    display: grid;
    grid-template-columns: max-content repeat(2, 2fr 1fr) 3fr;
    gap: 30px;
    border-bottom: 1px solid var(--grey-main);
    &__box {
        &_2 {
            grid-column: 2 / 3;
        }
        &_3 {
            grid-column: 4 / 5;
        }
        &_4 {
            grid-column: 6 / 7;
        }
    }
    &__logo {
        display: block;
        padding-bottom: 14px;
        cursor: pointer;
    }
    &__txt, a {
        font-size: 14px;
        line-height: 20px;
        color: var(--grey-main);
        text-decoration: none;
        margin-bottom: 10px;
        font-style: normal;
    }
    &__txt {
        a:hover {
            text-decoration: underline;
        }
    }
    &__title {
        font-family: var(--sans);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--title);
        padding-top: 18px;
        margin-bottom: 30px;
    }
    &__form {
        padding-top: 28px;
        display: flex;
        input {
            padding: 14px 15px;
            border: none;
            background: var(--bg);
            font-family: var(--sans);
            font-size: 14px;
            font-weight: 400;
            &::placeholder {
                font-size: 12px;
                color: #234969;
            }
        }
        button {
            padding: 14px 16px;
            background: var(--bg-btn);
            border: none;
            cursor: pointer;
            color: var(--white);
            font-family: var(--sans);
            font-size: 14px;
        }
    }
}

.footer-bottom {
    padding: 36px 0 38px;
    display: flex;
    justify-content: space-between;
    &__copyright {
        font-size: 14px;
        line-height: 32px;
        color: var(--grey-main);
    }
    &__links {
        display: flex;
    }
    &__link {
        padding: 0 15px;
        border-right: 1px solid var(--grey-main);
        font-size: 14px;
        line-height: 32px;
        a {
            color: var(--grey-main);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:last-child {
            border-right: none;
            padding-right: 0;
        }
    }
}