.shop {
    padding: 120px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 270px 1fr;
        gap: 30px;
    }
    &__fiters, &__content {
        width: 100%;
    }
    &__view-btns {
        // width: 60%;
        display: grid;
        grid-template-columns: 1fr repeat(2, max-content);
        column-gap: 20px;
        text-align: right;
        align-items: center;
        margin-bottom: -30px;
    }
    &__view-btn {
        width: 25px;
        height: 25px;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        path {
            transition: all .6s;
        }
        &:hover {
            path {
                fill: #436372;
            }
        }
    }
    &__view-btn_active {
        path {
            fill: #243f4d;
        }
    }
    &__cards {
        display: grid;
        gap: 40px 30px;
        margin-bottom: 100px;
        &_grid {
            grid-template-columns: repeat(3, 1fr);
        }
        &__list {
            grid-template-columns: 1fr;
        }
    }
    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__pagination-page {
        padding: 20px 36px;
        border: 1px solid var(--bg-btn);
        transition: all .7s;
        & + .shop__pagination-page {
            margin-left: 15px;
        }
        &:hover {
            background: var(--bg-btn);
            .shop__pagination-link {
                color: var(--white);
            }
        }
        
    }
    &__pagination-link {
        font-size: 16px;
        font-weight: 400;
        color: var(--main-txt);
        transition: all .7s;
    }
}
.shop__pagination-page_active {
    background: var(--bg-btn);
        .shop__pagination-link {
            color: var(--white);
        }
}