.stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    line-height: 1;
    
    &::before {
        content: '★★★★★';
        background: linear-gradient(90deg, #ffcc00 var(--percent), #d6d6d6 var(--percent));
        background-clip: text;
        color: transparent;
    }
    &_18 {
        font-size: 18px;
        margin-bottom: 6px;
        &::before {
            letter-spacing: 3px;
        }
    }
    &_28 {
        font-size: 28px;
        margin-bottom: 40px;
        &::before {
            letter-spacing: 12px;
        }
    }
}

.full-stars {
    text-align: left;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -100%;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 20px;
    width: 20px;
    fill: #ffcc00;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #d6d6d6;
}
.full-stars .rating-group:hover label svg {
    fill: #ffcc00;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #d6d6d6;
}
