.support {
    &__inner {
        background: var(--bg);
        padding: 44px 0 52px;
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: center;
    }   
    &__box {
        width: 300px;
        position: relative;
        padding-left: 78px;
        &::after {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 60px;
            height: 60px;
        }
        &:nth-child(1) {
            &::after {
                background: url('../../icons/support/support.svg') top center / contain no-repeat;
            }
        }
        &:nth-child(2) {
            &::after {
                background: url('../../icons/support/delivery.svg') top center / contain no-repeat;
            }
        }
        &:nth-child(3) {
            &::after {
                background: url('../../icons/support/secury.svg') top center / contain no-repeat;
            }
        }
    }
    &__title {
        font-family: var(--sans);
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;

        span {
            font-size: 18px;
            font-weight: 700;
            line-height: 40px;
            display: block;
        }
    }
}